.DS_Store
.env
.env.local
.env*.local
.env.production
.env.temp
.codegraph/
.cursor/
.vercel/
node_modules/
.next/
out/
coverage/
dist/
*.tsbuildinfo

prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-wal
prisma/dev.db-shm

# 临时文件
migrate-to-postgres.sql
setup-db.sh
seed-production.sh
*.dump
